/* タスク追加画面 */
.add_form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

/* タスクの要素 */
.container {
    text-align: center;
    position: top;
    margin: 0;
    margin-top: 15%;
}

/* 追加されるタスクを改行するクラス */
.wrap {
    flex-flow: column;
}

/* タスクリスト */
.list-tasks {
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 3vh;
    padding: 18px 20px;
    border: #333;
    display: flex;
    justify-content: space-between;
    width: 650px;
    max-height: 100px;
    align-items: center;  /* リスト間の余白を調整する */
    font-size: 14px;
}

/* ヘッダーの */
.header-class {
    padding: 18px 20px;
    margin-bottom: 10px;
    border: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 15px;  /* リスト間の余白を調整する */
    font-size: 14px;
}


.left-align {
    margin-right: 100px; /* 要素を右寄せ */
}


/* ボタン */
.form-button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

/* タスク編集画面 */
form.edit-task {
    text-align: center;
    position: top;
    margin: 0;
    margin-top: 25%;
}


h1 {
    color: #333;
    margin-bottom: 30px;
    font-size: 20px;
    
}


input[type="text"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    transition: border-bottom 0.3s;
}


input[type="text"]:focus { 
    border-bottom: 2px solid #ff5252;
 }


button {
    padding: 10px 20px;
    margin: 10px 10px;
    border: none;
    background-color: #ff5252;
    border-radius: 3px;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}


button:hover {
    background-color: #e04040;
    
}

/* リスト */
ul {
    list-style: none;
    padding-left: 0;
    margin: 40px 0 15px;
    display: inline;
    margin: 0 0 0 auto;
    list-style: none;   /* 各リスト項目の左側にある点「・」を非表示にして、無駄な余白をなくす処理 */
    margin: 0;
    display: flex;  /* 各項目を横並びにする */
}

* {
    box-sizing: border-box;
 }
 

 body {
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;  /* バックグランドの色を調整して境目をわかりやすくする */
 }

 header {
    padding: 30px 4% 10px; /*ヘッダーに余白を作る */
    position: fixed; /* 画面上部にヘッダーを固定する */
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex; /* headerの子要素のレイアウトをコントロール状態にする */
    align-items: center;   /* 子要素を縦方向の中心に配置 */
 }

 /* aタグの文字色を変更と、余計なアンダーラインを消す */
 a {	
    text-decoration: none;
    color: #4b4b4b;
 }

 nav {
    margin: 0 0 0 auto; /* タイトルとナビケーションを両サイドに配置 nav要素を右端に配置*/
 }
 
 
 /* ul {

 } */
 