<!DOCTYPE html>
<html>

<head>
    <title>Todo App</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <h1>
            <a href="/">TODO LIST</a>
        </h1>
        <nav class="pc-nav">
            <!-- ここにナビの項目を追加します -->
            <ul>
                <li class="header-class"><a href="/add" method="GET">ADD</a></li>
                <li class="header-class"><a href="/check" method="GET">CHECK</a></li>
                <li class="header-class"><a href="#">SISTER</a></li>
                <li class="header-class"><a href="#">SADISTIC</a></li>
                <li class="header-class"><a href="#">SURPLISE</a></li>
                <li class="header-class"><a href="#">SERVICE</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>

</html>